### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
print(purchase_data)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

## Player Count

* Display the total number of players

In [2]:
# Use the length to calculate the unique total players
total_players = len(purchase_data["SN"].unique())
#total_platers

# Create a data frame to show the total number of players
number_players = pd.DataFrame({"Total Players":[total_players]})
number_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Number of Unique Items


* Average Purchase Price


* Total Number of Purchases


* Total Revenue

In [3]:
# Calculations for unique items, average price, purchase count, and revenue
number_of_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()
#number_of_items, average_price, number_of_purchases, total_revenue

# Create data frame and cleaning format
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


* Display the summary data frame

In [4]:
# Group and Count by Gender
gender_count = purchase_data.groupby("Gender")
total_gender = gender_count.nunique()["SN"]
#gender_count,total_gender

# Calculate the percentage of male, female and other
percentage = total_gender / total_players * 100
#percentage

# Create data frame and cleaning format
gender_table = pd.DataFrame({"Percentage of Players": percentage, "Total Count": total_gender})
gender_table.style.format({'Percentage of Players':"{:,.2f}%",
                         'Total Count': '${:,.2f}'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Obtaining purchase count, avg. purchase price, average purchase value and avg. purchase total per person by gender
count = gender_count["Purchase ID"].count()
avg_price = gender_count["Price"].mean()
avg_total = gender_count["Price"].sum()
avg_per_person = avg_total/total_gender
#count, avg_price, avg_total, avg_per_person

# Create data frame and cleaning format
summary_gender = pd.DataFrame({"Purchase Count": count, 
                                    "Average Purchase Price": avg_price,
                                    "Average Purchase Value":avg_total,
                                    "Avg Purchase Total per Person": avg_per_person})

summary_gender.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using pd,cut()
purchase_data["Ages"] = pd.cut(purchase_data["Age"],bins, labels=group_names)
#print(purchase_data)

# Create data frame with the new "Age"
new_ages = purchase_data.groupby("Ages")

#Calculate the numbers and percentages by age group
total_age = new_ages["SN"].nunique()
percent_age = (total_age/total_players) * 100
#print(total_age, percent_age)

# Create data frame and cleaning format
summary_age= pd.DataFrame({"Total Count": total_age, "Percentage of Players": percent_age})
summary_age.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchase_count = new_ages["Purchase ID"].count()
avg_purchase = new_ages["Price"].mean()
total_purchase = new_ages["Price"].sum()
avg_per_person = total_purchase/total_age
#print(purchase_count, avg_purchase, total_purchase, avg_per_person)

# Create data frame
summary_age = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_purchase,
                                 "Total Purchase Value":total_purchase,
                                 "Avg Purchase Total per Person": avg_per_person})

#cleaner formatting
summary_age.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# Group purchase data
spenders = purchase_data.groupby("SN")

# Purchase Count, avg. purchase price, total purchase value
count_spender = spenders["Purchase ID"].count()
avg_spender = spenders["Price"].mean()
purchase_spender = spenders["Price"].sum()
#print(count_spender, avg_spender, purchase_spender)

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": count_spender,
                             "Average Purchase Price": avg_spender,
                             "Total Purchase Value":purchase_spender})

# Descending order
descending_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False,).head()

# Format with currency style
descending_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
# Create new data frame and group ID and Item Name
items = purchase_data[["Item ID", "Item Name", "Price"]]
popular_item = items.groupby(["Item ID","Item Name"])

#Do calculations to obtain purchase count, item price, and total purchase value
purchase_count = popular_item["Price"].count()
purchase_value = (popular_item["Price"].sum()) 
item_price = purchase_value/purchase_count
#purchase_count, purchase_value, item_price

# Create data frame
most_popular = pd.DataFrame({"Purchase Count": purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Descending order
summary_popular = most_popular.sort_values(["Purchase Count"], ascending=False).head()

#cleaner formatting
summary_popular.style.format({"Item Price":"${:,.2f}",
                              "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
summary_popular = most_popular.sort_values(["Total Purchase Value"],ascending=False).head()
#print(summary_popular)

#cleaner formatting
summary_popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})